# Execution requirements
attrs==22.1.0
fastapi==0.85.1
orjson==3.8.1
python-multipart==0.0.5
uvicorn[standard]==0.19.0

# Test / lint requirements
black==22.10.0
flake8==5.0.4
httpx==0.23.0
mypy==0.982
pytest==7.1.3
